:root {
  /* CSS HEX */
  --sky-blue-crayola: #52c9dcff;
  --powder-blue: #b4dde5ff;
  --alice-blue: #f2f8fbff;
  --raisin-black: #1e2435ff;
  --jet: #2f313cff;
  --raisin-black-2: #1a1b28ff;
  --alice-blue-2: #f2f8fcff;
}

/* || RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-content: center;
  background: var(--powder-blue);
  min-height: 100vh;
  font-size: 16px;
}
main {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  width: 25rem;
  height: 39rem;
  background: var(--raisin-black-2);
}
.display {
  height: 40%;
  width: 100%;
}
input {
  width: 100%;
  text-align: right;
  padding: 0 1rem;
  color: #fff;
  border: none;
  outline: none;
  background: transparent;
  /* FIXME: remove border on atcive state */
}
.display-flex {
  display: flex;
  height: 80%;
  width: 100%;
}
.equals-sign {
  display: grid;
  place-content: center;
  color: var(--sky-blue-crayola);
  width: 10%;
  font-size: 3rem;
  font-weight: 900;
  margin-left: 0.3rem;
}
.display .operation {
  height: 100%;
  font-size: 3.5rem;
  width: 90%;
}
.display .solution {
  height: 20%;
  font-size: 1.5rem;
}
.buttons {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  height: 20%;
  width: 100%;
}
.button {
  flex: 1;
  color: #fff;
  background: var(--raisin-black);
  border: none;
  margin: 0.3rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
}
.functions {
  background: var(--sky-blue-crayola);
  color: #fff;
}
